.card {
  text-decoration: none;
  cursor: pointer;
  color: #272727;
}

.card:hover {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.heading {
  text-decoration: none;
}

.card:hover .heading {
  text-decoration: underline;
}

.chevron {
  height: 100%;
  width: 1.5rem;
  flex-shrink: 0;
  transition: transform 200ms ease-in-out;
}

.card:hover .chevron {
  transform: translateX(3px);
}
